[MASTER]
ignore-paths=build,dist,.venv,.eggs,scripts
extension-pkg-allow-list=cmor
init-hook='import sys, os; src = os.path.join(os.getcwd(), "src"); sys.path.insert(0, src) if src not in sys.path else None'

[MESSAGES CONTROL]
disable=
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    invalid-name

[FORMAT]
max-line-length=100

[TYPECHECK]
ignored-modules=xarray,xesmf,cmor,numpy,geocat.comp,yaml,cftime,pytest,dask
ignored-classes=cmor
